<launch>
  <arg name="JS_DEV" default="/dev/input/js0"/>

  <arg name="input_cmd_vel_topic"    default="raw_cmd_vel" />
  <arg name="feedback_cmd_vel_topic" default="robot_cmd_vel" />
  <arg name="output_cmd_vel_topic"   default="smoothed_cmd_vel" />
  
  <!--
    Push the left frontal button labeled as 'LB' to activate cmd_vel publishing.
    Move the left stick around to control the velocity.
   -->
  <!--  smooths inputs from cmd_vel_mux/input/teleop_raw to cmd_vel_mux/input/teleop -->
  <include file="$(find p3dx_launch)/launch/includes/velocity_smoother.launch.xml">
    <arg name="input_cmd_vel_topic"    value="$(arg input_cmd_vel_topic)" />
    <arg name="feedback_cmd_vel_topic" value="$(arg feedback_cmd_vel_topic)" />
    <arg name="output_cmd_vel_topic"   value="$(arg output_cmd_vel_topic)" />

  </include>

  <node pkg="turtlebot_teleop" type="turtlebot_teleop_joy" name="turtlebot_teleop_joystick">
    <param name="scale_angular" value="1.0"/>
    <param name="scale_linear" value="0.5"/>
    <param name="axis_deadman" value="4"/>
    <param name="axis_linear" value="1"/>
    <param name="axis_angular" value="0"/>
    <remap from="turtlebot_teleop_joystick/cmd_vel" to="$(arg input_cmd_vel_topic)"/>
  </node>

  <node pkg="joy" type="joy_node" name="joystick">
    <param name="dev" value="$(arg JS_DEV)" />
  </node>

</launch>
